:root {
  --blue: #039be5;
  --red: #ea736d;
  --line: #fbdc4d;
  --font: 'M PLUS 1p';
  --tcolor: #000000;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: var(--tcolor);
  font-family: var(--font);
  font-weight: 400;
}
.body.active {
  overflow: hidden;
}
#page-nav {
  display: none;
}
@media (min-width: 1200px) {
  #page-nav {
    display: block;
    position: fixed;
    right: 50px;
    top: 50%;
    z-index: 10;
  }
}
#page-nav li {
  width: 12px;
  height: 12px;
  background-color: #808080;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  margin-bottom: 15px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
#page-nav li a {
  display: block;
  height: 100%;
}
#page-nav li.active {
  background-color: var(--red);
}
a,
a:hover {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
svg {
  max-width: 100%;
}
button,
input,
textarea {
  outline: none;
}
button {
  cursor: pointer;
  border: 0px;
  padding: 0;
  background-color: transparent;
}
.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0;
    max-width: 1140px;
  }
}
.underline {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.underline::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: -5px;
  right: -5px;
  height: 10px;
  background-color: var(--line);
  z-index: -1;
}
.animate-border {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.animate-border:before,
.animate-border:after {
  content: '';
  position: absolute;
  bottom: 2px;
  right: -5px;
  height: 6px;
  background-color: var(--line);
  width: 0%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}
.animate-border:before {
  left: 50%;
}
.animate-border:after {
  right: 50%;
}
.animate-border:hover:before,
.animate-border:hover:after {
  width: 55%;
}
.main-btn,
.page-btn {
  display: inline-block;
  height: 64px;
  line-height: 56px;
  padding-left: 40px;
  padding-right: 40px;
  -webkit-border-radius: 64px;
     -moz-border-radius: 64px;
          border-radius: 64px;
  border: 4px solid;
  font-size: 22px;
  font-weight: 800;
  color: #000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.main-btn {
  background-color: #fbdc4d;
  border-color: #fbdc4d;
}
.main-btn:hover {
  background-color: #ffd200;
  border-color: #ffd200;
}
.main-btn:active {
  background-color: #e1bc10;
  border-color: #e1bc10;
}
.page-btn {
  border-color: #464646;
  -webkit-border-radius: 64px;
     -moz-border-radius: 64px;
          border-radius: 64px;
  background-color: #fff;
}
.page-btn:hover {
  color: #797979;
  border-color: #797979;
}
.page-btn:active {
  color: #181818;
  border-color: #181818;
}
.social__icons {
  max-width: 320px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.social__icons a:hover {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.6;
}
.github-social {
  color: #000;
}
.icon-size {
  font-size: 25px;
}
.tgram-circle {
  color: #039be5;
}
.vk-circle {
  color: #4d76a1;
}
.facebook-circle {
  color: #3b5998;
}
.none {
  display: none;
}
.header {
  padding-top: 30px;
  padding-bottom: 90px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .header {
    padding-top: 30px;
    padding-bottom: 80px;
    overflow: visible;
  }
}
@media (min-width: 1200px) {
  .header {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 73px;
    padding-bottom: 200px;
    background-image: url(../images/header/header-bg.jpg);
    -moz-background-size: contain;
         background-size: contain;
    background-position: 0 0;
    background-repeat: repeat;
  }
}
.header-container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .header-container {
    max-width: 768px;
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .header-container {
    max-width: 1430px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.header-title__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .header-title__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
       -moz-box-orient: horizontal;
       -moz-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header-title__img {
  margin-bottom: 50px;
  max-width: 290px;
}
@media (min-width: 768px) {
  .header-title__img {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .header-title__img {
    max-width: 460px;
  }
}
.header-title__text {
  max-width: 290px;
  z-index: 2;
}
@media (min-width: 768px) {
  .header-title__text {
    max-width: 340px;
    margin-top: -20px;
  }
}
@media (min-width: 1200px) {
  .header-title__text {
    max-width: 560px;
  }
}
.header-title__name {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .header-title__name {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .header-title__name {
    margin-bottom: 10px;
  }
}
.header-title__name h1 {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .header-title__name h1 {
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .header-title__name h1 {
    font-size: 90px;
  }
}
.header-title__name .underline::after {
  height: 10px;
  bottom: 8px;
}
@media (min-width: 768px) {
  .header-title__name .underline::after {
    bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .header-title__name .underline::after {
    height: 12px;
    bottom: 20px;
  }
}
.header-title__desc {
  margin-bottom: 20px;
  color: #393f47;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}
@media (min-width: 768px) {
  .header-title__desc {
    margin-bottom: 25px;
  }
}
@media (min-width: 1200px) {
  .header-title__desc {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 36px;
  }
}
.header-title__buttons {
  display: none;
}
@media (min-width: 1200px) {
  .header-title__buttons {
    display: block;
  }
}
.header-title__buttons a:first-child {
  margin-right: 20px;
}
.header-banner {
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .header-banner {
    margin-top: -10px;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .header-banner {
    margin-top: -120px;
  }
}
.banner-container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .banner-container {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .banner-container {
    max-width: 1600px;
  }
}
.banner-img {
  -webkit-transform: scale(1.8);
     -moz-transform: scale(1.8);
      -ms-transform: scale(1.8);
       -o-transform: scale(1.8);
          transform: scale(1.8);
}
@media (min-width: 425px) {
  .banner-img {
    -webkit-transform: scale(1.5);
       -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
         -o-transform: scale(1.5);
            transform: scale(1.5);
  }
}
@media (min-width: 576px) {
  .banner-img {
    -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@media (min-width: 768px) {
  .banner-img {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
}
@media (min-width: 768px) {
  .header-skills {
    padding-top: 30px;
    margin-top: -50px;
  }
}
@media (min-width: 1200px) {
  .header-skills {
    padding-top: 80px;
    margin-top: -60px;
  }
}
.header-skills__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .header-skills__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header-skills__list {
  max-width: 234px;
}
@media (min-width: 768px) {
  .header-skills__list {
    max-width: 340px;
  }
}
@media (min-width: 1200px) {
  .header-skills__list {
    max-width: 620px;
  }
}
.skills-title {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 800;
}
@media (min-width: 768px) {
  .skills-title {
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .skills-title {
    margin-bottom: 25px;
    font-size: 40px;
  }
}
.skills-list {
  margin-bottom: 40px;
  font-size: 18px;
}
@media (min-width: 1200px) {
  .skills-list {
    margin-bottom: 40px;
    font-size: 24px;
  }
}
.skills-list__item + .skills-list__item {
  margin-top: 5px;
}
.skills-list__item::before {
  content: '';
}
@media (min-width: 1200px) {
  .skills-list__item::before {
    content: '\2014';
    padding-right: 20px;
  }
}
.skills-button {
  display: none;
}
@media (min-width: 1200px) {
  .skills-button {
    display: block;
  }
}
.header-skills__contacts {
  max-width: 290px;
}
@media (min-width: 768px) {
  .header-skills__contacts {
    padding-right: 40px;
  }
}
@media (min-width: 1200px) {
  .header-skills__contacts {
    max-width: 360px;
  }
}
.header-skills__contacts .skills-title {
  margin-bottom: 30px;
}
.mailto-link {
  color: #000;
  border-bottom: 1px solid #000;
  font-size: 18px;
}
.mailto-link:hover {
  color: #039be5;
  border-bottom: 1px solid #039be5;
}
.mailto-link:active {
  color: #ea655f;
  border-bottom: 1px solid #ea655f;
}
@media (min-width: 768px) {
  .mailto-link {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .mailto-link {
    font-size: 24px;
  }
}
.header__navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .header__navigation {
    margin-bottom: 70px;
  }
}
@media (min-width: 1200px) {
  .header__navigation {
    margin-bottom: 170px;
  }
}
.header__navigation .underline,
.header__navigation .animate-border {
  z-index: 1;
}
.header__logo {
  -webkit-transition: 1s;
  -o-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
.header__logo:hover {
  -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.header__logo-text {
  font-size: 42px;
  font-weight: 900;
  color: #000;
}
.header__nav {
  display: none;
}
@media (min-width: 1200px) {
  .header__nav {
    display: block;
  }
}
.header__nav-link {
  font-size: 20px;
  font-weight: 700;
  color: var(--tcolor);
}
.header__nav-link + .header__nav-link {
  margin-left: 75px;
}
.header__icons {
  display: none;
}
@media (min-width: 1200px) {
  .header__icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__icons-link {
  display: block;
}
.header__icons-link + .header__icons-link {
  margin-left: 20px;
}
.facebook-icon {
  color: #000;
}
.facebook-icon:hover,
.facebook-icon:active {
  color: #3b5998;
}
.github-icon {
  color: #000;
}
.github-icon:hover,
.github-icon:active {
  color: #6cc644;
}
.vk-icon {
  color: #000;
}
.vk-icon:hover,
.vk-icon:active {
  color: #45668e;
}
.toggle-menu {
  width: 40px;
  height: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  z-index: 7;
}
@media (min-width: 1200px) {
  .toggle-menu {
    display: none;
  }
}
.toggle-menu span {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #000;
  margin: auto;
}
.toggle-menu span:before,
.toggle-menu span:after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 5px;
  background-color: #000;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.toggle-menu span:after {
  top: -10px;
}
.toggle-menu span:before {
  bottom: -10px;
}
.toggle-menu.active {
  position: fixed;
  top: 50px;
  right: 30px;
}
.toggle-menu.active span {
  background-color: transparent;
}
.toggle-menu.active span:after {
  top: 0px;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}
.toggle-menu.active span:before {
  bottom: 0px;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.navigation-menu {
  width: 100%;
  max-width: 360px;
  height: 100vh;
  padding-top: 30px;
  padding-left: 15px;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
     -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
       -o-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  z-index: 6;
}
.navigation-menu.active {
  -webkit-transform: translateX(0%);
     -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
       -o-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.navigation-menu .header__logo {
  width: 63px;
}
.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}
.nav-menu__link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 20px;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid #000;
}
.nav-menu__link:last-child {
  margin-bottom: 0;
}
.nav-menu__link:hover {
  opacity: 0.6;
}
.navigation-menu .social__icons {
  max-width: 300px;
}
.overlay {
  position: fixed;
  top: 0;
  display: none;
  height: 100vh;
  width: 100vh;
  background-color: rgba(97, 103, 119, 0.6);
  z-index: 4;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.overlay.active {
  display: block;
}
.section-portfolio {
  padding-top: 50px;
  padding-bottom: 90px;
  background-color: #f4f8f9;
}
@media (min-width: 768px) {
  .section-portfolio {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (min-width: 1200px) {
  .section-portfolio {
    padding-top: 110px;
    padding-bottom: 120px;
  }
}
.portfolio-title {
  text-align: center;
  margin: 0 auto;
  z-index: 2;
  margin-bottom: 40px;
  font-size: 42px;
  font-weight: 900;
}
@media (min-width: 768px) {
  .portfolio-title {
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .portfolio-title {
    margin-bottom: 50px;
    font-size: 64px;
  }
}
.portfolio-title.underline::after {
  bottom: 10px;
}
@media (min-width: 768px) {
  .portfolio-title.underline::after {
    bottom: 13px;
  }
}
@media (min-width: 1200px) {
  .portfolio-title.underline::after {
    bottom: 18px;
  }
}
.portfolio-nav {
  display: none;
}
@media (min-width: 768px) {
  .portfolio-nav {
    display: block;
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .portfolio-nav {
    margin-bottom: 50px;
  }
}
.portfolio-nav__item {
  font-size: 24px;
  font-weight: 900;
  color: #8fa5ae;
}
.portfolio-nav__item + .portfolio-nav__item {
  margin-left: 45px;
}
@media (min-width: 1200px) {
  .portfolio-nav__item + .portfolio-nav__item {
    margin-left: 80px;
  }
}
.portfolio-nav__item:hover,
.portfolio-nav__item:active {
  color: #ed665f;
}
@media (min-width: 1200px) {
  .portfolio-nav__item {
    font-size: 28px;
  }
}
.portfolio-nav__active {
  color: #000;
}
.portfolio-cards__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}
.portfolio-cards__wrapper:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .portfolio-cards__wrapper {
    margin-bottom: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .portfolio-cards__wrapper {
    margin-bottom: 50px;
  }
}
.portfolio-card {
  max-width: 290px;
  margin-bottom: 40px;
}
.portfolio-card:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .portfolio-card {
    max-width: 340px;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .portfolio-card {
    max-width: 555px;
  }
}
.portfolio-card__img {
  position: relative;
  display: block;
  overflow: hidden;
  margin-bottom: 25px;
}
.portfolio-card__img::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(242, 218, 98, 0.6);
  -webkit-transform: translateY(100%);
     -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
       -o-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.hover-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-border-radius: 40px;
     -moz-border-radius: 40px;
          border-radius: 40px;
  background-color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  font-size: 14px;
  font-weight: 800;
  color: #ea736d;
}
.hover-btn:hover {
  background-color: #ea736d;
  color: #fff;
}
.hover-btn:active {
  background-color: #d4423b;
  color: #fff;
}
@media (min-width: 1200px) {
  .hover-btn {
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
    font-size: 22px;
  }
}
.portfolio-card__img:hover::before {
  -webkit-transform: translateY(0%);
     -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
       -o-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.portfolio-card__img:hover .hover-btn {
  display: block;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.portfolio-card__text {
  display: block;
}
.portfolio-card__link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 22px;
  font-weight: 700;
  color: #000;
  border-bottom: 2px solid #f4f8f9;
}
.portfolio-card__link:hover,
.portfolio-card__link:active {
  color: #ed665f;
  border-bottom: 2px solid #ed665f;
}
@media (min-width: 768px) {
  .portfolio-card__link {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .portfolio-card__link {
    font-size: 32px;
  }
}
.portfolio-card__desc {
  color: #000;
  font-size: 16px;
  font-weight: 300;
}
@media (min-width: 768px) {
  .portfolio-card__desc {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .portfolio-card__desc {
    font-size: 22px;
  }
}
.section-timeline {
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .section-timeline {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .section-timeline {
    padding-top: 120px;
    padding-bottom: 130px;
  }
}
.timeline-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .timeline-title {
    margin-bottom: 150px;
  }
}
.timeline-title__text {
  font-size: 36px;
  font-weight: 900;
}
@media (min-width: 768px) {
  .timeline-title__text {
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .timeline-title__text {
    font-size: 64px;
  }
}
.timeline-title__text.underline::after {
  bottom: 8px;
}
@media (min-width: 768px) {
  .timeline-title__text.underline::after {
    bottom: 13px;
  }
}
@media (min-width: 1200px) {
  .timeline-title__text.underline::after {
    bottom: 18px;
  }
}
.timeline {
  max-width: 1005px;
  margin-left: auto;
  margin-right: auto;
}
.timeline-item {
  position: relative;
  min-height: 190px;
  padding-left: 100px;
  margin-bottom: 40px;
}
.timeline-item::after {
  content: "";
  width: 4px;
  background-color: #e1eef4;
  position: absolute;
  top: 95px;
  bottom: 0;
  left: 37px;
}
@media (min-width: 768px) {
  .timeline-item {
    width: 50%;
  }
}
.timeline-item:first-child::before {
  content: "";
  width: 4px;
  background-color: #e1eef4;
  position: absolute;
  right: 0;
  top: -85px;
  height: 70px;
  display: none;
}
@media (min-width: 768px) {
  .timeline-item:first-child::before {
    display: block;
  }
}
.timeline-item:last-child::after {
  display: none;
}
.timeline-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 74px;
  height: 74px;
  -webkit-border-radius: 28px;
     -moz-border-radius: 28px;
          border-radius: 28px;
  -webkit-box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
     -moz-box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
          box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
  position: absolute;
  top: 0;
  left: 0;
}
.timeline-text {
  max-width: 430px;
  font-size: 20px;
  line-height: 1.4;
}
.timeline-header {
  font-size: 20px;
  font-weight: 800;
}
@media (min-width: 768px) {
  .timeline-header {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .timeline-header {
    font-size: 26px;
  }
}
.timeline-header.underline::after {
  display: none;
}
@media (min-width: 1200px) {
  .timeline-header.underline::after {
    display: block;
    bottom: 5px;
  }
}
.timeline-desc {
  font-size: 14px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .timeline-desc {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .timeline-desc {
    font-size: 18px;
  }
}
.timeline-span {
  font-size: 14px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .timeline-span {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .timeline-item:nth-child(2n) {
    margin-left: auto;
  }
  .timeline-item:nth-child(2n) .timeline-icon {
    left: -37px;
  }
  .timeline-item:nth-child(2n)::after {
    left: 0;
  }
}
@media (min-width: 768px) {
  .timeline-item:nth-child(2n + 1) {
    text-align: right;
    margin-right: auto;
    padding-left: 0;
    padding-right: 100px;
  }
  .timeline-item:nth-child(2n + 1) .timeline-icon {
    left: auto;
    right: -37px;
  }
  .timeline-item:nth-child(2n + 1)::after {
    left: auto;
    right: 0;
  }
  .timeline-item:nth-child(2n + 1) .timeline-header {
    text-align: right;
    margin-left: auto;
  }
}
/*
@media (min-width: 768px) {
  .timeline-item {
    width: 50%;
  }

  
  .timeline-item:nth-child(2n) {
    margin-left: auto;
  }
  
  
  .timeline-item:nth-child(2n) .timeline-icon {
    left: -37px;
  }
  
  
  .timeline-item:nth-child(2n)::after {
    left: 0;
  }
  
  .timeline-item:nth-child(2n + 1) {
    text-align: right;
    padding-left: 0;
    padding-right: 100px;
  }
  
  .timeline-item:nth-child(2n + 1) .timeline-icon {
    left: auto;
    right: -37px;
  }
  
  .timeline-item:nth-child(2n + 1)::after {
    left: auto;
    right: 0;
  }
  
  .timeline-item:first-child::before {
    display: block;
  }
  
}
*/
.section-contacts {
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: #f4f8f9;
  -moz-background-size: contain;
       background-size: contain;
  background-position: 0 0;
  background-repeat: repeat;
}
@media (min-width: 768px) {
  .section-contacts {
    padding-top: 80px;
    padding-bottom: 90px;
  }
}
@media (min-width: 1200px) {
  .section-contacts {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}
.contacts-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .contacts-title {
    margin-bottom: 60px;
  }
}
.contacts-title__text {
  font-size: 42px;
  font-weight: 900;
  z-index: 2;
}
@media (min-width: 768px) {
  .contacts-title__text {
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .contacts-title__text {
    font-size: 64px;
  }
}
.contacts-title__text.underline::after {
  bottom: 13px;
}
@media (min-width: 768px) {
  .contacts-title__text.underline::after {
    bottom: 12px;
  }
}
@media (min-width: 1200px) {
  .contacts-title__text.underline::after {
    bottom: 18px;
  }
}
.contacts__wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 4;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.contacts__wrapper-img {
  position: absolute;
  top: -20px;
  left: -350px;
  z-index: -1;
  display: none;
}
@media (min-width: 1200px) {
  .contacts__wrapper-img {
    display: block;
  }
}
.contacts-text {
  max-width: 290px;
}
@media (min-width: 768px) {
  .contacts-text {
    max-width: 340px;
  }
}
@media (min-width: 1200px) {
  .contacts-text {
    max-width: 505px;
    padding-top: 30px;
  }
}
.contacts-text__desc {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
@media (min-width: 768px) {
  .contacts-text__desc {
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 28px;
  }
}
@media (min-width: 1200px) {
  .contacts-text__desc {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 32px;
  }
}
.contacts-text__list {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .contacts-text__list {
    margin-bottom: 35px;
  }
}
@media (min-width: 1200px) {
  .contacts-text__list {
    margin-bottom: 40px;
  }
}
.contacts-list__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}
.contacts-list__item p:first-child {
  min-width: 90px;
  margin-right: 95px;
}
.contacts-list__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .contacts-list__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.contacts-adress {
  color: #000;
  font-size: 18px;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .contacts-adress {
    font-size: 20px;
  }
}
.mail-link {
  font-size: 18px;
  font-weight: 500;
  color: #039be5;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 1200px) {
  .mail-link {
    font-size: 20px;
  }
}
.mail-link:hover {
  color: #89c0db;
}
.contacs-link {
  font-size: 18px;
  font-weight: 500;
  color: #96969d;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 1200px) {
  .contacs-link {
    font-size: 20px;
  }
}
.contacs-link:hover {
  color: #89c0db;
}
.contacts-form {
  max-width: 290px;
  padding: 40px 15px;
  background-color: #fff;
  -webkit-box-shadow: 0px 28px 100px 0px rgba(194, 219, 235, 0.004);
     -moz-box-shadow: 0px 28px 100px 0px rgba(194, 219, 235, 0.004);
          box-shadow: 0px 28px 100px 0px rgba(194, 219, 235, 0.004);
}
@media (min-width: 768px) {
  .contacts-form {
    max-width: 340px;
    padding: 40px 25px;
  }
}
@media (min-width: 1200px) {
  .contacts-form {
    max-width: 510px;
    padding: 50px 60px;
  }
}
.contacts-form__wrapper {
  width: 260px;
}
@media (min-width: 768px) {
  .contacts-form__wrapper {
    width: 290px;
  }
}
@media (min-width: 1200px) {
  .contacts-form__wrapper {
    width: 390px;
  }
}
.form-item {
  margin-bottom: 40px;
  position: relative;
}
.form-item .form-field {
  width: 100%;
  height: 60px;
  border: 0px;
  border-bottom: 2px solid #eaeaea;
  font-size: 20px;
  font-weight: 700;
  padding-left: 12px;
  padding-right: 12px;
}
.form-item .form-field:focus {
  border-bottom: 2px solid red;
}
.form-item textarea.form-field {
  height: 100px;
  resize: none;
}
.form-item .fake-placeholder {
  position: absolute;
  pointer-events: none;
  left: 12px;
  top: 10px;
  color: #bcbcbc;
  font-size: 20px;
  font-weight: 700;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.form-item .fake-placeholder.active {
  top: -15px;
  color: #ed9626;
  font-size: 16px;
  font-weight: 700;
}
.form-btn {
  text-align: center;
}
@media (min-width: 1200px) {
  .form-btn {
    text-align: left;
  }
}
.form-btn button {
  padding-left: 70px;
  padding-right: 70px;
  font-size: 20px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .form-btn button {
    padding-left: 90px;
    padding-right: 90px;
  }
}
@media (min-width: 1200px) {
  .form-btn button {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 22px;
    font-weight: 800;
  }
}
.footer {
  padding-top: 35px;
  padding-bottom: 40px;
  background-color: #333333;
}
@media (min-width: 768px) {
  .footer {
    padding-bottom: 45px;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding-top: 25px;
    padding-bottom: 40px;
  }
}
.footer-header {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.footer-desc p {
  font-size: 16px;
  font-weight: 400;
  color: #b0b0b0;
}
.footer-link {
  font-size: 16px;
  font-weight: 400;
  color: #b0b0b0;
  border-bottom: 1px solid #b0b0b0;
}
.footer-link:hover,
.footer-link:active {
  color: #cdcdcd;
  border-color: #cdcdcd;
}
/*# sourceMappingURL=main.css.map */