.section-contacts {
    padding-top: 50px;
    padding-bottom: 60px;

    background-color: #f4f8f9;
    background-size: contain;
    background-position: 0 0;
    background-repeat: repeat;

    @media (min-width:768px) {
        padding-top: 80px;
        padding-bottom: 90px;
    }

    @media (min-width:1200px) {
        padding-top: 130px;
        padding-bottom: 130px;
    }
}

.contacts-title {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    @media (min-width:768px) {
        margin-bottom: 60px;
    }
}

.contacts-title__text {
    font-size: 42px;
    font-weight: 900;
    z-index: 2;

    @media (min-width:768px) {
        font-size: 52px;
    }

    @media (min-width:1200px) {
        font-size: 64px;
    }
}

.contacts-title__text.underline::after {
    bottom: 13px;

    @media (min-width:768px) {
        bottom: 12px;
    }

    @media (min-width:1200px) {
        bottom: 18px;
    }
}

.contacts__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;

    z-index: 4;

    @media (min-width:768px) {
        flex-direction: row;
        justify-content: space-between;
    }

    @media (min-width:1200px) {}
}

.contacts__wrapper-img {
    position: absolute;
    top: -20px;
    left: -350px;
    z-index: -1;
    display: none;

    @media (min-width:1200px) {
        display: block;
    }
}

.contacts-text {
    max-width: 290px;

    @media (min-width:768px) {
        max-width: 340px;
    }

    @media (min-width:1200px) {
        max-width: 505px;
        padding-top: 30px;
    }
}

.contacts-text__desc {
    margin-bottom: 30px;

    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

    @media (min-width:768px) {
        margin-bottom: 35px;
        font-size: 18px;
        line-height: 28px;
    }

    @media (min-width:1200px) {
        margin-bottom: 35px;
        font-size: 20px;
        line-height: 32px;
    }
}

.contacts-text__list {
    margin-bottom: 30px;

    @media (min-width:768px) {
        margin-bottom: 35px;
    }

    @media (min-width:1200px) {
        margin-bottom: 40px;
    }
}

.contacts-list__item {
    display: flex;
    flex-direction: column;

    p:first-child {
        min-width: 90px;
        margin-right: 95px;
    }

    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }

    @media (min-width:1200px) {
        flex-direction: row;
    }
}

.contacts-adress {
    color: #000;
    font-size: 18px;
    font-weight: 700;

    @media (min-width:1200px) {
        font-size: 20px;
    }
}

.mail-link {
    font-size: 18px;
    font-weight: 500;
    color: #039be5;
    transition: 0.3s;

    @media (min-width:1200px) {
        font-size: 20px;
    }

    &:hover {
        color: #89c0db;
    }
}

.contacs-link {
    font-size: 18px;
    font-weight: 500;
    color: #96969d;
    transition: 0.3s;

    @media (min-width:1200px) {
        font-size: 20px;
    }

    &:hover {
        color: #89c0db;
    }
}